<!DOCTYPE html>
<html>
<head>

    <meta charset=utf-8>
    <title>My first three.js app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">

</head>
<body>

    <div class="container">
        <h3>Choisissez votre équipe !</h3>
        <p>Ou testez directement sur cet ordinateur.</p>

        <span class="red box" onclick="location.href='rouge.html';"></span><span class="violet box" onclick="location.href='violet.html';"></span><span class="green box" onclick="location.href='vert.html';"></span><span class="blue box" onclick="location.href='bleu.html';"></span><span
            class="yellow box" onclick="location.href='jaune.html';"></span>
    </div>

    <h2>Ou testez maintenant sur VOTRE téléphone !</h2>

    <img src="img/qrindex.png" alt="qr code">


    <script src="scripts/index.js"></script>

</body>
</html>

