.container {
    width:100%;
    overflow:hidden;
}
.box {
    width:20%;
    height:150px;
    float:left;
}

.red{
    background:#FE0801;
}
.green{
    background:#35FE01;
}
.blue{
    background:#0157FE;
}
.yellow{
    background:#FEEB01;
}
.violet{
    background:#E301FE;
}
body{
    text-align: center;
    background-color: black;
}

h3, p{
    color: lightgray;
}

h2{
    color: lightgray;
}
.title{
    color: #ffffff;
}

html, body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}